<launch>
  	<!-- declare arg to be passed in -->
	<arg name="Color_Image_Topic" />
	<arg name="PointCloud2_Topic" />

	<node name="perception_face_node" pkg="perception_face" type="perception_face_node.py" respawn="false" output="screen">
        <!--
            Output Topic: /mhri/perception_face/persons
        -->
        <remap from="Tracked_People" to="/mhri/people_tracking/persons" />
        <remap from="Color_Image" to="$(arg Color_Image_Topic)" />		
	</node>

</launch>
